In [1]:
import pandas as pd

In [2]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
sample = pd.read_csv("sample_submission.csv")

In [3]:
train.head()

,id,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,0,Aaradhya,Female,49.0,Ludhiana,Working Professional,Chef,NaN,5.0,NaN,NaN,2.0,More than 8 hours,Healthy,BHM,No,1.0,2.0,No,0
1,1,Vivan,Male,26.0,Varanasi,Working Professional,Teacher,NaN,4.0,NaN,NaN,3.0,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1
2,2,Yuvraj,Male,33.0,Visakhapatnam,Student,NaN,5.0,NaN,8.97,2.0,NaN,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
3,3,Yuvraj,Male,22.0,Mumbai,Working Professional,Teacher,NaN,5.0,NaN,NaN,1.0,Less than 5 hours,Moderate,BBA,Yes,10.0,1.0,Yes,1
4,4,Rhea,Female,30.0,Kanpur,Working Professional,Business Analyst,NaN,1.0,NaN,NaN,1.0,5-6 hours,Unhealthy,BBA,Yes,9.0,4.0,Yes,0

In [4]:
train.shape,test.shape,sample.shape

((140700, 20), (93800, 19), (93800, 2))

In [5]:
original=pd.read_csv("final_depression_dataset_1.csv")

In [6]:
original.shape

(2556, 19)

In [7]:
original.head()

,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,Pooja,Female,37,Ghaziabad,Working Professional,Teacher,NaN,2.0,NaN,NaN,4.0,7-8 hours,Moderate,MA,No,6,2,No,No
1,Reyansh,Male,60,Kalyan,Working Professional,Financial Analyst,NaN,4.0,NaN,NaN,3.0,5-6 hours,Unhealthy,B.Com,Yes,0,4,Yes,No
2,Manvi,Female,42,Bhopal,Working Professional,Teacher,NaN,2.0,NaN,NaN,3.0,5-6 hours,Moderate,M.Com,No,0,2,No,No
3,Isha,Female,44,Thane,Working Professional,Teacher,NaN,3.0,NaN,NaN,5.0,7-8 hours,Healthy,MD,Yes,1,2,Yes,No
4,Aarav,Male,48,Indore,Working Professional,UX/UI Designer,NaN,4.0,NaN,NaN,3.0,7-8 hours,Moderate,BE,Yes,6,5,Yes,No

In [8]:
df = train.copy()

In [9]:
df.isnull().sum()

id                                            0
Name                                          0
Gender                                        0
Age                                           0
City                                          0
Working Professional or Student               0
Profession                                36630
Academic Pressure                        112803
Work Pressure                             27918
CGPA                                     112802
Study Satisfaction                       112803
Job Satisfaction                          27910
Sleep Duration                                0
Dietary Habits                                4
Degree                                        2
Have you ever had suicidal thoughts ?         0
Work/Study Hours                              0
Financial Stress                              4
Family History of Mental Illness              0
Depression                                    0
dtype: int64

In [10]:
test.isnull().sum()

id                                           0
Name                                         0
Gender                                       0
Age                                          0
City                                         0
Working Professional or Student              0
Profession                               24632
Academic Pressure                        75033
Work Pressure                            18778
CGPA                                     75034
Study Satisfaction                       75033
Job Satisfaction                         18774
Sleep Duration                               0
Dietary Habits                               5
Degree                                       2
Have you ever had suicidal thoughts ?        0
Work/Study Hours                             0
Financial Stress                             0
Family History of Mental Illness             0
dtype: int64

In [11]:
train.head()

,id,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,0,Aaradhya,Female,49.0,Ludhiana,Working Professional,Chef,NaN,5.0,NaN,NaN,2.0,More than 8 hours,Healthy,BHM,No,1.0,2.0,No,0
1,1,Vivan,Male,26.0,Varanasi,Working Professional,Teacher,NaN,4.0,NaN,NaN,3.0,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1
2,2,Yuvraj,Male,33.0,Visakhapatnam,Student,NaN,5.0,NaN,8.97,2.0,NaN,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
3,3,Yuvraj,Male,22.0,Mumbai,Working Professional,Teacher,NaN,5.0,NaN,NaN,1.0,Less than 5 hours,Moderate,BBA,Yes,10.0,1.0,Yes,1
4,4,Rhea,Female,30.0,Kanpur,Working Professional,Business Analyst,NaN,1.0,NaN,NaN,1.0,5-6 hours,Unhealthy,BBA,Yes,9.0,4.0,Yes,0

In [12]:
train['Profession'].value_counts()

Profession
Teacher           24906
Content Writer     7814
Architect          4370
Consultant         4229
HR Manager         4022
                  ...
BBA                   1
City Manager          1
FamilyVirar           1
B.Com                 1
Yuvraj                1
Name: count, Length: 64, dtype: int64

In [13]:
test['Profession'].value_counts()

Profession
Teacher           16385
Content Writer     5187
Architect          2982
Consultant         2920
Pharmacist         2656
                  ...
Manvi                 1
24th                  1
ME                    1
3M                    1
M.Pharm               1
Name: count, Length: 64, dtype: int64

## Limpar a colunas 'Profession' do train

In [14]:
import numpy as np

# Substituir NaN por 'Student'
df['Profession'] = df['Profession'].fillna('Student')

# Substituir 'Academic' por 'Student'
df['Profession'] = df['Profession'].replace('Academic', 'Student')

In [15]:
# Contar ocorrências de cada profissão, ignorando NaN
profession_counts = df['Profession'].value_counts()

# Substituir profissões com menos de 10 ocorrências ou NaN por 'Outros'
df['Profession'] = df['Profession'].apply(lambda x: x if pd.notna(x) and profession_counts.get(x, 0) >= 5 else 'Outros')

In [16]:
df['Profession'].value_counts()

Profession
Student                   36642
Teacher                   24906
Content Writer             7814
Architect                  4370
Consultant                 4229
HR Manager                 4022
Pharmacist                 3893
Doctor                     3255
Business Analyst           3161
Entrepreneur               2968
Chemist                    2967
Chef                       2862
Educational Consultant     2852
Data Scientist             2390
Researcher                 2328
Lawyer                     2212
Customer Support           2055
Marketing Manager          1976
Pilot                      1913
Travel Consultant          1860
Plumber                    1748
Sales Executive            1739
Manager                    1737
Judge                      1712
Electrician                1582
Financial Analyst          1574
Software Engineer          1510
Civil Engineer             1470
UX/UI Designer             1452
Digital Marketer           1372
Accountant                 1339
Finanancial Analyst        1329
Mechanical Engineer        1177
Graphic Designer           1163
Research Analyst            690
Investment Banker           393
Outros                       38
Name: count, dtype: int64

## Limpar a colunas 'Profession' do test

In [17]:
# Substituir NaN por 'Student'
test['Profession'] = test['Profession'].fillna('Student')

# Substituir 'Academic' por 'Student'
test['Profession'] = test['Profession'].replace('Academic', 'Student')

In [18]:
# Contar ocorrências de cada profissão, ignorando NaN
profession_counts = test['Profession'].value_counts()

# Substituir profissões com menos de 10 ocorrências ou NaN por 'Outros'
test['Profession'] = test['Profession'].apply(lambda x: x if pd.notna(x) and profession_counts.get(x, 0) >= 5 else 'Outros')

In [19]:
test['Profession'].value_counts()

Profession
Student                   24640
Teacher                   16385
Content Writer             5187
Architect                  2982
Consultant                 2920
Pharmacist                 2656
HR Manager                 2601
Doctor                     2198
Business Analyst           2186
Chemist                    1967
Entrepreneur               1935
Chef                       1844
Educational Consultant     1827
Data Scientist             1582
Lawyer                     1497
Researcher                 1496
Pilot                      1448
Customer Support           1422
Marketing Manager          1284
Judge                      1189
Travel Consultant          1188
Manager                    1155
Sales Executive            1139
Plumber                    1123
Electrician                1121
Financial Analyst          1048
Software Engineer          1002
Digital Marketer            942
Civil Engineer              938
UX/UI Designer              915
Finanancial Analyst         894
Accountant                  853
Mechanical Engineer         800
Graphic Designer            720
Research Analyst            423
Investment Banker           257
Outros                       36
Name: count, dtype: int64

## Limpar a colunas 'Academic Pressure' e 'Work Pressure' do train

In [20]:
# Criar a coluna 'Pressure' dando prioridade para 'Academic Pressure' quando ambas têm valor
df['Pressure'] = df['Academic Pressure'].combine_first(df['Work Pressure'])

In [21]:
df.sample(10)

,id,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,...,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,Pressure
140219,140219,Ishan,Male,27.0,Kalyan,Working Professional,Teacher,NaN,4.0,NaN,...,1.0,Less than 5 hours,Unhealthy,BSc,Yes,12.0,5.0,No,1,4.0
103613,103613,Asha,Female,51.0,Nagpur,Working Professional,Content Writer,NaN,5.0,NaN,...,1.0,7-8 hours,Moderate,B.Ed,Yes,2.0,1.0,Yes,0,5.0
138216,138216,Ansh,Male,56.0,Meerut,Working Professional,Teacher,NaN,2.0,NaN,...,4.0,7-8 hours,Unhealthy,M.Ed,Yes,2.0,4.0,No,0,2.0
121155,121155,Aarohi,Female,59.0,Chennai,Working Professional,Educational Consultant,NaN,2.0,NaN,...,5.0,7-8 hours,Moderate,B.Ed,No,1.0,4.0,Yes,0,2.0
24706,24706,Aadhya,Female,39.0,Bhopal,Working Professional,Entrepreneur,NaN,3.0,NaN,...,2.0,Less than 5 hours,Moderate,BBA,Yes,9.0,2.0,No,0,3.0
81467,81467,Kashish,Female,30.0,Patna,Working Professional,Pharmacist,NaN,5.0,NaN,...,1.0,More than 8 hours,Healthy,B.Pharm,Yes,0.0,2.0,Yes,0,5.0
119172,119172,Pratyush,Male,43.0,Srinagar,Working Professional,Teacher,NaN,1.0,NaN,...,4.0,7-8 hours,Healthy,B.Pharm,No,7.0,2.0,Yes,0,1.0
104328,104328,Siddharth,Male,43.0,Ludhiana,Working Professional,Mechanical Engineer,NaN,4.0,NaN,...,4.0,More than 8 hours,Unhealthy,MCA,No,9.0,2.0,No,0,4.0
98655,98655,Tushar,Male,55.0,Nashik,Working Professional,Sales Executive,NaN,3.0,NaN,...,3.0,7-8 hours,Unhealthy,B.Com,No,10.0,4.0,Yes,0,3.0
62898,62898,Sanya,Female,52.0,Vasai-Virar,Working Professional,Teacher,NaN,3.0,NaN,...,5.0,7-8 hours,Unhealthy,B.Ed,Yes,10.0,5.0,No,0,3.0

In [22]:
df.isnull().sum()

id                                            0
Name                                          0
Gender                                        0
Age                                           0
City                                          0
Working Professional or Student               0
Profession                                    0
Academic Pressure                        112803
Work Pressure                             27918
CGPA                                     112802
Study Satisfaction                       112803
Job Satisfaction                          27910
Sleep Duration                                0
Dietary Habits                                4
Degree                                        2
Have you ever had suicidal thoughts ?         0
Work/Study Hours                              0
Financial Stress                              4
Family History of Mental Illness              0
Depression                                    0
Pressure                                     21
dtype: int64

In [23]:

# Calcular a moda da coluna 'Pressure'
mode_value = df['Pressure'].mode()[0]

# Preencher valores nulos com a moda
df['Pressure'].fillna(mode_value, inplace=True)

In [24]:
df.isnull().sum()

id                                            0
Name                                          0
Gender                                        0
Age                                           0
City                                          0
Working Professional or Student               0
Profession                                    0
Academic Pressure                        112803
Work Pressure                             27918
CGPA                                     112802
Study Satisfaction                       112803
Job Satisfaction                          27910
Sleep Duration                                0
Dietary Habits                                4
Degree                                        2
Have you ever had suicidal thoughts ?         0
Work/Study Hours                              0
Financial Stress                              4
Family History of Mental Illness              0
Depression                                    0
Pressure                                      0
dtype: int64

In [25]:
# Excluir as colunas originais, se necessário
df = df.drop(columns=['Academic Pressure', 'Work Pressure'])

In [26]:
# Reordenar as colunas
cols = df.columns.tolist()
cols.insert(cols.index('Profession') + 1, cols.pop(cols.index('Pressure')))
df = df[cols]

In [27]:
df.isnull().sum()

id                                            0
Name                                          0
Gender                                        0
Age                                           0
City                                          0
Working Professional or Student               0
Profession                                    0
Pressure                                      0
CGPA                                     112802
Study Satisfaction                       112803
Job Satisfaction                          27910
Sleep Duration                                0
Dietary Habits                                4
Degree                                        2
Have you ever had suicidal thoughts ?         0
Work/Study Hours                              0
Financial Stress                              4
Family History of Mental Illness              0
Depression                                    0
dtype: int64

## Limpar a colunas 'Academic Pressure' e 'Work Pressure' do test

In [28]:
# Criar a coluna 'Pressure' dando prioridade para 'Academic Pressure' quando ambas têm valor
test['Pressure'] = test['Academic Pressure'].combine_first(test['Work Pressure'])

In [29]:
test.isnull().sum()

id                                           0
Name                                         0
Gender                                       0
Age                                          0
City                                         0
Working Professional or Student              0
Profession                                   0
Academic Pressure                        75033
Work Pressure                            18778
CGPA                                     75034
Study Satisfaction                       75033
Job Satisfaction                         18774
Sleep Duration                               0
Dietary Habits                               5
Degree                                       2
Have you ever had suicidal thoughts ?        0
Work/Study Hours                             0
Financial Stress                             0
Family History of Mental Illness             0
Pressure                                    12
dtype: int64

In [30]:
# Calcular a moda da coluna 'Pressure'
mode_value = test['Pressure'].mode()[0]

# Preencher valores nulos com a moda
test['Pressure'].fillna(mode_value, inplace=True)

In [31]:
df.isnull().sum()

id                                            0
Name                                          0
Gender                                        0
Age                                           0
City                                          0
Working Professional or Student               0
Profession                                    0
Pressure                                      0
CGPA                                     112802
Study Satisfaction                       112803
Job Satisfaction                          27910
Sleep Duration                                0
Dietary Habits                                4
Degree                                        2
Have you ever had suicidal thoughts ?         0
Work/Study Hours                              0
Financial Stress                              4
Family History of Mental Illness              0
Depression                                    0
dtype: int64

In [32]:
# Excluir as colunas originais, se necessário
test = test.drop(columns=['Academic Pressure', 'Work Pressure'])

In [33]:
# Reordenar as colunas
cols = test.columns.tolist()
cols.insert(cols.index('Profession') + 1, cols.pop(cols.index('Pressure')))
test = test[cols]

In [34]:
test.isnull().sum()

id                                           0
Name                                         0
Gender                                       0
Age                                          0
City                                         0
Working Professional or Student              0
Profession                                   0
Pressure                                     0
CGPA                                     75034
Study Satisfaction                       75033
Job Satisfaction                         18774
Sleep Duration                               0
Dietary Habits                               5
Degree                                       2
Have you ever had suicidal thoughts ?        0
Work/Study Hours                             0
Financial Stress                             0
Family History of Mental Illness             0
dtype: int64

## Limpar a colunas 'CGPA' do train

In [35]:
# Calcular a média da coluna 'CGPA', ignorando valores nulos
mean_value = df['CGPA'].mean()

# Preencher valores nulos com a média
df['CGPA'].fillna(mean_value, inplace=True)

In [36]:
df.isnull().sum()

id                                            0
Name                                          0
Gender                                        0
Age                                           0
City                                          0
Working Professional or Student               0
Profession                                    0
Pressure                                      0
CGPA                                          0
Study Satisfaction                       112803
Job Satisfaction                          27910
Sleep Duration                                0
Dietary Habits                                4
Degree                                        2
Have you ever had suicidal thoughts ?         0
Work/Study Hours                              0
Financial Stress                              4
Family History of Mental Illness              0
Depression                                    0
dtype: int64

## Limpar a colunas 'CGPA' do test

In [37]:
# Calcular a média da coluna 'CGPA', ignorando valores nulos
mean_value = test['CGPA'].mean()

# Preencher valores nulos com a média
test['CGPA'].fillna(mean_value, inplace=True)

In [38]:
test.isnull().sum()

id                                           0
Name                                         0
Gender                                       0
Age                                          0
City                                         0
Working Professional or Student              0
Profession                                   0
Pressure                                     0
CGPA                                         0
Study Satisfaction                       75033
Job Satisfaction                         18774
Sleep Duration                               0
Dietary Habits                               5
Degree                                       2
Have you ever had suicidal thoughts ?        0
Work/Study Hours                             0
Financial Stress                             0
Family History of Mental Illness             0
dtype: int64

## Limpar a colunas 'Study Satisfaction' do train

In [39]:
# Criar a coluna 'Satisfaction' com prioridade para 'Study Satisfaction' quando ambas têm valor
df['Satisfaction'] = df['Study Satisfaction'].combine_first(df['Job Satisfaction'])

# Excluir as colunas originais, se necessário
df = df.drop(columns=['Study Satisfaction', 'Job Satisfaction'])

In [40]:
df.head()

,id,Name,Gender,Age,City,Working Professional or Student,Profession,Pressure,CGPA,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,Satisfaction
0,0,Aaradhya,Female,49.0,Ludhiana,Working Professional,Chef,5.0,7.658636,More than 8 hours,Healthy,BHM,No,1.0,2.0,No,0,2.0
1,1,Vivan,Male,26.0,Varanasi,Working Professional,Teacher,4.0,7.658636,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1,3.0
2,2,Yuvraj,Male,33.0,Visakhapatnam,Student,Student,5.0,8.970000,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1,2.0
3,3,Yuvraj,Male,22.0,Mumbai,Working Professional,Teacher,5.0,7.658636,Less than 5 hours,Moderate,BBA,Yes,10.0,1.0,Yes,1,1.0
4,4,Rhea,Female,30.0,Kanpur,Working Professional,Business Analyst,1.0,7.658636,5-6 hours,Unhealthy,BBA,Yes,9.0,4.0,Yes,0,1.0

In [41]:
df.isnull().sum()

id                                        0
Name                                      0
Gender                                    0
Age                                       0
City                                      0
Working Professional or Student           0
Profession                                0
Pressure                                  0
CGPA                                      0
Sleep Duration                            0
Dietary Habits                            4
Degree                                    2
Have you ever had suicidal thoughts ?     0
Work/Study Hours                          0
Financial Stress                          4
Family History of Mental Illness          0
Depression                                0
Satisfaction                             15
dtype: int64

In [42]:
# Calcular a moda da coluna 'Satisfaction'
mode_value = df['Satisfaction'].mode()[0]

# Preencher valores nulos com a moda
df['Satisfaction'].fillna(mode_value, inplace=True)

In [43]:
df.isnull().sum()

id                                       0
Name                                     0
Gender                                   0
Age                                      0
City                                     0
Working Professional or Student          0
Profession                               0
Pressure                                 0
CGPA                                     0
Sleep Duration                           0
Dietary Habits                           4
Degree                                   2
Have you ever had suicidal thoughts ?    0
Work/Study Hours                         0
Financial Stress                         4
Family History of Mental Illness         0
Depression                               0
Satisfaction                             0
dtype: int64

In [44]:
# Reordenar as colunas
cols = df.columns.tolist()
cols.insert(cols.index('CGPA') + 1, cols.pop(cols.index('Satisfaction')))
df = df[cols]

## Limpar a colunas 'Study Satisfaction' do test

In [45]:
# Criar a coluna 'Satisfaction' com prioridade para 'Study Satisfaction' quando ambas têm valor
test['Satisfaction'] = test['Study Satisfaction'].combine_first(test['Job Satisfaction'])

# Excluir as colunas originais, se necessário
test = test.drop(columns=['Study Satisfaction', 'Job Satisfaction'])

In [46]:
test.isnull().sum()

id                                       0
Name                                     0
Gender                                   0
Age                                      0
City                                     0
Working Professional or Student          0
Profession                               0
Pressure                                 0
CGPA                                     0
Sleep Duration                           0
Dietary Habits                           5
Degree                                   2
Have you ever had suicidal thoughts ?    0
Work/Study Hours                         0
Financial Stress                         0
Family History of Mental Illness         0
Satisfaction                             8
dtype: int64

In [47]:
# Calcular a moda da coluna 'Satisfaction'
mode_value = test['Satisfaction'].mode()[0]

# Preencher valores nulos com a moda
test['Satisfaction'].fillna(mode_value, inplace=True)

In [48]:
# Reordenar as colunas
cols = test.columns.tolist()
cols.insert(cols.index('CGPA') + 1, cols.pop(cols.index('Satisfaction')))
test = test[cols]

In [49]:
test.isnull().sum()

id                                       0
Name                                     0
Gender                                   0
Age                                      0
City                                     0
Working Professional or Student          0
Profession                               0
Pressure                                 0
CGPA                                     0
Satisfaction                             0
Sleep Duration                           0
Dietary Habits                           5
Degree                                   2
Have you ever had suicidal thoughts ?    0
Work/Study Hours                         0
Financial Stress                         0
Family History of Mental Illness         0
dtype: int64

## Agora vamos apagar todos os valores nulos do train

In [50]:
# Excluir todas as linhas que contêm valores nulos em qualquer coluna
df = df.dropna()

In [51]:
df.isnull().sum()

id                                       0
Name                                     0
Gender                                   0
Age                                      0
City                                     0
Working Professional or Student          0
Profession                               0
Pressure                                 0
CGPA                                     0
Satisfaction                             0
Sleep Duration                           0
Dietary Habits                           0
Degree                                   0
Have you ever had suicidal thoughts ?    0
Work/Study Hours                         0
Financial Stress                         0
Family History of Mental Illness         0
Depression                               0
dtype: int64

## Agora vamos tratar todos os valores nulos do test, pois aqui nao podemos perder registros

In [52]:
test.head()

,id,Name,Gender,Age,City,Working Professional or Student,Profession,Pressure,CGPA,Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness
0,140700,Shivam,Male,53.0,Visakhapatnam,Working Professional,Judge,2.0,7.674016,5.0,Less than 5 hours,Moderate,LLB,No,9.0,3.0,Yes
1,140701,Sanya,Female,58.0,Kolkata,Working Professional,Educational Consultant,2.0,7.674016,4.0,Less than 5 hours,Moderate,B.Ed,No,6.0,4.0,No
2,140702,Yash,Male,53.0,Jaipur,Working Professional,Teacher,4.0,7.674016,1.0,7-8 hours,Moderate,B.Arch,Yes,12.0,4.0,No
3,140703,Nalini,Female,23.0,Rajkot,Student,Student,5.0,6.840000,1.0,More than 8 hours,Moderate,BSc,Yes,10.0,4.0,No
4,140704,Shaurya,Male,47.0,Kalyan,Working Professional,Teacher,5.0,7.674016,5.0,7-8 hours,Moderate,BCA,Yes,3.0,4.0,No

In [53]:
test['Dietary Habits'].value_counts()

Dietary Habits
Moderate        33018
Unhealthy       30786
Healthy         29966
No                  6
More Healthy        2
Academic            1
Naina               1
1.0                 1
Raghav              1
Vivaan              1
5 Unhealthy         1
Soham               1
Educational         1
MCA                 1
5 Healthy           1
Resistant           1
Mealy               1
Less Healthy        1
Male                1
Prachi              1
Indoor              1
Kolkata             1
Name: count, dtype: int64

In [54]:
df['Dietary Habits'].value_counts()

Dietary Habits
Moderate             49704
Unhealthy            46224
Healthy              44739
Yes                      2
No                       2
More Healthy             2
No Healthy               1
Class 12                 1
Indoor                   1
Male                     1
Vegas                    1
M.Tech                   1
Less Healthy             1
1.0                      1
Electrician              1
Hormonal                 1
Mihir                    1
Less than Healthy        1
3                        1
Gender                   1
BSc                      1
Pratham                  1
2                        1
Name: count, dtype: int64

In [55]:
# Contar ocorrências de cada categoria
habit_counts = df['Dietary Habits'].value_counts()

# Substituir as categorias com menos de 10 ocorrências por 'Moderate'
df['Dietary Habits'] = df['Dietary Habits'].apply(lambda x: x if habit_counts[x] >= 10 else 'Moderate')

In [56]:
df['Dietary Habits'].value_counts()

Dietary Habits
Moderate     49727
Unhealthy    46224
Healthy      44739
Name: count, dtype: int64

In [57]:
# Contar ocorrências de cada categoria
habit_counts = test['Dietary Habits'].value_counts()

# Substituir as categorias com menos de 10 ocorrências ou valores nulos por 'Moderate'
test['Dietary Habits'] = test['Dietary Habits'].apply(lambda x: x if (x is not np.nan and habit_counts[x] >= 10) else 'Moderate')

In [58]:
test['Dietary Habits'].value_counts()

Dietary Habits
Moderate     33048
Unhealthy    30786
Healthy      29966
Name: count, dtype: int64

## Limpar a colunas 'Degree'

In [59]:
df['Degree'].value_counts()

Degree
Class 12    14728
B.Ed        11690
B.Arch       8742
B.Com        8113
B.Pharm      5856
            ...
Vivaan          1
MTech           1
29              1
LLCom           1
Advait          1
Name: count, Length: 115, dtype: int64

In [60]:
test['Degree'].value_counts()

Degree
Class 12    9812
B.Ed        7762
B.Arch      6037
B.Com       5439
B.Pharm     3987
            ...
Bian           1
Kavya          1
M.M.Ed         1
Vrinda         1
BHCA           1
Name: count, Length: 87, dtype: int64

In [61]:
# Contar ocorrências de cada categoria
degree_counts = df['Degree'].value_counts()

# Substituir as categorias com menos de 10 ocorrências por 'Outros'
df['Degree'] = df['Degree'].apply(lambda x: x if degree_counts[x] >= 10 else 'Outros')

In [62]:
df['Degree'].value_counts()

Degree
Class 12    14728
B.Ed        11690
B.Arch       8742
B.Com        8113
B.Pharm      5856
BCA          5738
M.Ed         5668
MCA          5234
BBA          5030
BSc          5027
MSc          4879
LLM          4647
M.Pharm      4536
M.Tech       4475
B.Tech       4424
LLB          4348
BHM          4305
MBA          3817
BA           3750
ME           3631
MD           3383
MHM          3286
BE           3104
PhD          3103
M.Com        3094
MBBS         3081
MA           2887
Outros        114
Name: count, dtype: int64

In [63]:
# Contar ocorrências de cada categoria
degree_counts = test['Degree'].value_counts()

# Substituir as categorias com menos de 10 ocorrências ou valores nulos por 'Outros'
test['Degree'] = test['Degree'].apply(lambda x: x if pd.notnull(x) and degree_counts[x] >= 10 else 'Outros')

In [64]:
test['Degree'].value_counts()

Degree
Class 12    9812
B.Ed        7762
B.Arch      6037
B.Com       5439
B.Pharm     3987
BCA         3869
M.Ed        3707
MCA         3438
BBA         3387
BSc         3314
LLM         3133
MSc         3096
M.Tech      3017
M.Pharm     2995
LLB         2938
B.Tech      2885
BHM         2776
BA          2490
MBA         2470
ME          2391
MD          2289
BE          2166
MHM         2149
M.Com       2128
PhD         2073
MBBS        2033
MA          1933
Outros        86
Name: count, dtype: int64

## Verificando as outras variaveis

In [65]:
df.isnull().sum()

id                                       0
Name                                     0
Gender                                   0
Age                                      0
City                                     0
Working Professional or Student          0
Profession                               0
Pressure                                 0
CGPA                                     0
Satisfaction                             0
Sleep Duration                           0
Dietary Habits                           0
Degree                                   0
Have you ever had suicidal thoughts ?    0
Work/Study Hours                         0
Financial Stress                         0
Family History of Mental Illness         0
Depression                               0
dtype: int64

In [66]:
df['Gender'].value_counts()

Gender
Male      77459
Female    63231
Name: count, dtype: int64

In [67]:
test['Gender'].value_counts()

Gender
Male      51262
Female    42538
Name: count, dtype: int64

In [68]:
df['Age'].value_counts()

Age
56.0    5246
49.0    5099
38.0    4564
53.0    4526
57.0    4395
47.0    4199
46.0    4080
54.0    3928
51.0    3927
18.0    3921
43.0    3856
59.0    3781
48.0    3694
45.0    3535
20.0    3514
50.0    3439
42.0    3393
24.0    3355
28.0    3336
39.0    3262
44.0    3217
41.0    3140
33.0    3140
29.0    3096
40.0    3094
58.0    2932
25.0    2931
23.0    2899
55.0    2846
35.0    2834
21.0    2742
37.0    2722
36.0    2703
19.0    2634
27.0    2613
52.0    2589
34.0    2577
31.0    2560
60.0    2501
26.0    2108
22.0    2066
30.0    1912
32.0    1784
Name: count, dtype: int64

In [69]:
test['Age'].value_counts()

Age
56.00    3432
49.00    3425
38.00    3008
53.00    2958
57.00    2875
47.00    2740
46.00    2728
18.00    2614
59.00    2551
54.00    2549
51.00    2544
43.00    2506
48.00    2459
20.00    2335
45.00    2329
50.00    2311
24.00    2296
42.00    2295
28.00    2292
39.00    2279
44.00    2242
29.00    2152
41.00    2093
33.00    2057
58.00    1982
25.00    1953
40.00    1950
35.00    1940
21.00    1930
55.00    1923
23.00    1870
37.00    1789
34.00    1785
36.00    1742
19.00    1731
27.00    1719
60.00    1701
52.00    1687
31.00    1660
22.00    1417
26.00    1362
30.00    1361
32.00    1227
32.08       1
Name: count, dtype: int64

In [70]:
# Substituir '32.08' por '32.00'
test['Age'] = test['Age'].replace(32.08, 32.00)

In [71]:
test['Age'].value_counts()

Age
56.0    3432
49.0    3425
38.0    3008
53.0    2958
57.0    2875
47.0    2740
46.0    2728
18.0    2614
59.0    2551
54.0    2549
51.0    2544
43.0    2506
48.0    2459
20.0    2335
45.0    2329
50.0    2311
24.0    2296
42.0    2295
28.0    2292
39.0    2279
44.0    2242
29.0    2152
41.0    2093
33.0    2057
58.0    1982
25.0    1953
40.0    1950
35.0    1940
21.0    1930
55.0    1923
23.0    1870
37.0    1789
34.0    1785
36.0    1742
19.0    1731
27.0    1719
60.0    1701
52.0    1687
31.0    1660
22.0    1417
26.0    1362
30.0    1361
32.0    1228
Name: count, dtype: int64

In [72]:
# Configurar a exibição para mostrar todas as linhas
pd.set_option('display.max_rows', None)  # Para mostrar todas as linhas
pd.set_option('display.max_columns', None)  # Para mostrar todas as colunas, se necessário

# Exibir a contagem de valores na coluna 'City'
city_counts = df['City'].value_counts()
print(city_counts)

# Resetar as opções para o padrão, se necessário
pd.reset_option('display.max_rows')

City
Kalyan                6591
Patna                 5924
Vasai-Virar           5765
Kolkata               5688
Ahmedabad             5613
Meerut                5528
Ludhiana              5226
Pune                  5210
Rajkot                5207
Visakhapatnam         5176
Srinagar              5072
Mumbai                4966
Indore                4872
Agra                  4683
Surat                 4636
Varanasi              4605
Vadodara              4568
Hyderabad             4493
Kanpur                4398
Jaipur                4328
Thane                 4289
Lucknow               4280
Nagpur                4209
Bangalore             4122
Chennai               4044
Ghaziabad             3620
Delhi                 3593
Bhopal                3475
Faridabad             3268
Nashik                3143
Mihir                    7
Nandini                  4
Mahi                     3
Vidya                    3
City                     3
Pratyush                 3
Harsha                   3
Saanvi                   3
Bhavna                   3
Molkata                  2
MCA                      2
M.Com                    2
Atharv                   2
Nalini                   2
Keshav                   2
Ayush                    2
M.Tech                   1
Researcher               1
Vaishnavi                1
Chhavi                   1
Parth                    1
Vidhi                    1
Tushar                   1
MSc                      1
No                       1
Rashi                    1
ME                       1
Ishanabad                1
Armaan                   1
Kagan                    1
Kashish                  1
Ithal                    1
Nalyan                   1
Dhruv                    1
Galesabad                1
Itheg                    1
Aaradhya                 1
Pooja                    1
Khushi                   1
Khaziabad                1
Jhanvi                   1
Kibara                   1
Harsh                    1
Reyansh                  1
Morena                   1
Less Delhi               1
Malyansh                 1
Aditya                   1
Plata                    1
Aishwarya                1
3.0                      1
Less than 5 Kalyan       1
Krishna                  1
Mira                     1
Moreadhyay               1
Ishkarsh                 1
Raghavendra              1
Kashk                    1
Gurgaon                  1
Tolkata                  1
Anvi                     1
Krinda                   1
Ayansh                   1
Shrey                    1
Ivaan                    1
Vaanya                   1
Gaurav                   1
Unirar                   1
Name: count, dtype: int64

In [73]:
# Configurar a exibição para mostrar todas as linhas
pd.set_option('display.max_rows', None)  # Para mostrar todas as linhas
pd.set_option('display.max_columns', None)  # Para mostrar todas as colunas, se necessário

# Exibir a contagem de valores na coluna 'City'
city_counts = test['City'].value_counts()
print(city_counts)

# Resetar as opções para o padrão, se necessário
pd.reset_option('display.max_rows')

City
Kalyan               4387
Vasai-Virar          3897
Patna                3888
Kolkata              3726
Ahmedabad            3677
Meerut               3661
Srinagar             3547
Ludhiana             3545
Rajkot               3450
Visakhapatnam        3416
Pune                 3318
Agra                 3189
Vadodara             3169
Mumbai               3129
Hyderabad            3123
Surat                3090
Varanasi             3052
Indore               3040
Kanpur               2978
Jaipur               2874
Lucknow              2860
Thane                2835
Nagpur               2748
Bangalore            2707
Chennai              2674
Delhi                2536
Ghaziabad            2486
Bhopal               2370
Faridabad            2196
Nashik               2182
Vidya                   4
Siddhesh                3
Bhavna                  3
Vikram                  2
Keshav                  2
Nalini                  2
City                    2
Hrithik                 2
San Vasai-Virar         1
Vaikot                  1
Leela                   1
Chemist                 1
Ghopal                  1
No                      1
More Delhi              1
Saanvi                  1
Pratham                 1
Vidhi                   1
Abhinav                 1
Rolkata                 1
Parth                   1
Aditi                   1
Saurav                  1
Sara                    1
Less Delhi              1
Golkata                 1
Is Kanpur               1
Unaly                   1
Thani                   1
Lawyer                  1
Vaishnavi               1
Ira                     1
Avni                    1
Mhopal                  1
Less than 5 hours       1
Pratyush                1
Malyan                  1
No.12                   1
Name: count, dtype: int64

In [74]:
# Contar ocorrências de cada cidade
city_counts = df['City'].value_counts()

# Substituir cidades com menos de 10 ocorrências por 'Outros'
df['City'] = df['City'].apply(lambda x: x if city_counts[x] >= 10 else 'Outros')

In [75]:
df['City'].value_counts()

City
Kalyan           6591
Patna            5924
Vasai-Virar      5765
Kolkata          5688
Ahmedabad        5613
Meerut           5528
Ludhiana         5226
Pune             5210
Rajkot           5207
Visakhapatnam    5176
Srinagar         5072
Mumbai           4966
Indore           4872
Agra             4683
Surat            4636
Varanasi         4605
Vadodara         4568
Hyderabad        4493
Kanpur           4398
Jaipur           4328
Thane            4289
Lucknow          4280
Nagpur           4209
Bangalore        4122
Chennai          4044
Ghaziabad        3620
Delhi            3593
Bhopal           3475
Faridabad        3268
Nashik           3143
Outros             98
Name: count, dtype: int64

In [76]:
# Contar ocorrências de cada cidade
city_counts = test['City'].value_counts()

# Substituir cidades com menos de 10 ocorrências por 'Outros'
test['City'] = test['City'].apply(lambda x: x if city_counts[x] >= 10 else 'Outros')

In [77]:
test['City'].value_counts()

City
Kalyan           4387
Vasai-Virar      3897
Patna            3888
Kolkata          3726
Ahmedabad        3677
Meerut           3661
Srinagar         3547
Ludhiana         3545
Rajkot           3450
Visakhapatnam    3416
Pune             3318
Agra             3189
Vadodara         3169
Mumbai           3129
Hyderabad        3123
Surat            3090
Varanasi         3052
Indore           3040
Kanpur           2978
Jaipur           2874
Lucknow          2860
Thane            2835
Nagpur           2748
Bangalore        2707
Chennai          2674
Delhi            2536
Ghaziabad        2486
Bhopal           2370
Faridabad        2196
Nashik           2182
Outros             50
Name: count, dtype: int64

In [78]:
df.isnull().sum()

id                                       0
Name                                     0
Gender                                   0
Age                                      0
City                                     0
Working Professional or Student          0
Profession                               0
Pressure                                 0
CGPA                                     0
Satisfaction                             0
Sleep Duration                           0
Dietary Habits                           0
Degree                                   0
Have you ever had suicidal thoughts ?    0
Work/Study Hours                         0
Financial Stress                         0
Family History of Mental Illness         0
Depression                               0
dtype: int64

In [79]:
df['Working Professional or Student'].value_counts()

Working Professional or Student
Working Professional    112794
Student                  27896
Name: count, dtype: int64

In [80]:
test['Working Professional or Student'].value_counts()

Working Professional or Student
Working Professional    75028
Student                 18772
Name: count, dtype: int64

In [81]:
df['Sleep Duration'].value_counts()

Sleep Duration
Less than 5 hours    38781
7-8 hours            36968
More than 8 hours    32724
5-6 hours            32138
3-4 hours               12
6-7 hours                8
4-5 hours                7
2-3 hours                5
4-6 hours                5
6-8 hours                4
1-6 hours                4
No                       4
9-11 hours               2
10-11 hours              2
Sleep_Duration           2
Unhealthy                2
45                       2
8-9 hours                2
10-6 hours               1
9-5                      1
45-48 hours              1
3-6 hours                1
Work_Study_Hours         1
49 hours                 1
than 5 hours             1
Pune                     1
9-6 hours                1
8 hours                  1
35-36 hours              1
Indore                   1
1-3 hours                1
55-66 hours              1
Moderate                 1
40-45 hours              1
1-2 hours                1
9-5 hours                1
Name: count, dtype: int64

In [82]:
test['Sleep Duration'].value_counts()

Sleep Duration
Less than 5 hours                      25661
7-8 hours                              24491
More than 8 hours                      22190
5-6 hours                              21404
6-7 hours                                  7
8-9 hours                                  6
4-5 hours                                  6
2-3 hours                                  4
3-4 hours                                  3
9-5 hours                                  2
1-6 hours                                  2
9-5                                        2
Meerut                                     2
4-6 hours                                  2
1-2 hours                                  2
10-6 hours                                 1
9-10 hours                                 1
9-11 hours                                 1
50-75 hours                                1
6 hours                                    1
1-3 hours                                  1
8-89 hours                                 1
20-21 hours                                1
Have_you_ever_had_suicidal_thoughts        1
60-65 hours                                1
9-6 hours                                  1
than 5 hours                               1
0                                          1
Unhealthy                                  1
Vivan                                      1
3-6 hours                                  1
Name: count, dtype: int64

In [83]:
# Contar ocorrências de cada categoria
sleep_counts = df['Sleep Duration'].value_counts()

# Substituir categorias com menos de 15 ocorrências por '5-6 hours'
df['Sleep Duration'] = df['Sleep Duration'].apply(lambda x: x if sleep_counts[x] >= 15 else '5-6 hours')

In [84]:
df['Sleep Duration'].value_counts()

Sleep Duration
Less than 5 hours    38781
7-8 hours            36968
More than 8 hours    32724
5-6 hours            32217
Name: count, dtype: int64

In [85]:
# Contar ocorrências de cada categoria
sleep_counts = test['Sleep Duration'].value_counts()

# Substituir categorias com menos de 15 ocorrências por '5-6 hours'
test['Sleep Duration'] = test['Sleep Duration'].apply(lambda x: x if sleep_counts[x] >= 15 else '5-6 hours')

In [86]:
test['Sleep Duration'].value_counts()

Sleep Duration
Less than 5 hours    25661
7-8 hours            24491
More than 8 hours    22190
5-6 hours            21458
Name: count, dtype: int64

In [87]:
# Criar um dicionário de substituições
replacements = {
    'Less than 5 hours': 5,
    '7-8 hours': 7,
    'More than 8 hours': 8,
    '5-6 hours': 6
}

# Substituir os valores de acordo com o dicionário
df['Sleep Duration'] = df['Sleep Duration'].replace(replacements)

In [88]:
df['Sleep Duration'].value_counts()

Sleep Duration
5    38781
7    36968
8    32724
6    32217
Name: count, dtype: int64

In [89]:

# Substituir os valores de acordo com o dicionário
test['Sleep Duration'] = test['Sleep Duration'].replace(replacements)

In [90]:
test['Sleep Duration'].value_counts()

Sleep Duration
5    25661
7    24491
8    22190
6    21458
Name: count, dtype: int64

In [91]:
df.isnull().sum()

id                                       0
Name                                     0
Gender                                   0
Age                                      0
City                                     0
Working Professional or Student          0
Profession                               0
Pressure                                 0
CGPA                                     0
Satisfaction                             0
Sleep Duration                           0
Dietary Habits                           0
Degree                                   0
Have you ever had suicidal thoughts ?    0
Work/Study Hours                         0
Financial Stress                         0
Family History of Mental Illness         0
Depression                               0
dtype: int64

In [92]:
test['Dietary Habits'].value_counts()

Dietary Habits
Moderate     33048
Unhealthy    30786
Healthy      29966
Name: count, dtype: int64

In [93]:
test['Degree'].value_counts()

Degree
Class 12    9812
B.Ed        7762
B.Arch      6037
B.Com       5439
B.Pharm     3987
BCA         3869
M.Ed        3707
MCA         3438
BBA         3387
BSc         3314
LLM         3133
MSc         3096
M.Tech      3017
M.Pharm     2995
LLB         2938
B.Tech      2885
BHM         2776
BA          2490
MBA         2470
ME          2391
MD          2289
BE          2166
MHM         2149
M.Com       2128
PhD         2073
MBBS        2033
MA          1933
Outros        86
Name: count, dtype: int64

In [94]:
test['Work/Study Hours'].value_counts()

Work/Study Hours
10.0    9450
11.0    8555
9.0     8315
0.0     8132
12.0    7657
2.0     7083
6.0     7029
7.0     6646
1.0     6525
3.0     6261
5.0     6118
4.0     6079
8.0     5950
Name: count, dtype: int64

In [95]:
df['Work/Study Hours'].value_counts()

Work/Study Hours
10.0    14199
11.0    12831
9.0     12709
0.0     12066
12.0    11407
2.0     10595
6.0     10431
7.0      9872
1.0      9802
3.0      9473
5.0      9336
4.0      9063
8.0      8906
Name: count, dtype: int64

In [96]:
test['Financial Stress'].value_counts()

Financial Stress
2.0    21151
5.0    18694
4.0    18453
1.0    18341
3.0    17161
Name: count, dtype: int64

In [97]:
df['Family History of Mental Illness'].value_counts()

Family History of Mental Illness
No     70753
Yes    69937
Name: count, dtype: int64

In [98]:
test['Family History of Mental Illness'].value_counts()

Family History of Mental Illness
No     47118
Yes    46682
Name: count, dtype: int64

In [99]:
df['Depression'].value_counts()

Depression
0    115127
1     25563
Name: count, dtype: int64

In [100]:
ts = test.copy()

In [101]:
df.shape,ts.shape

((140690, 18), (93800, 17))

In [102]:
df=df.drop(['id','Name'],axis =1)
ts=ts.drop(['id','Name'],axis =1)

# CATBOOST

In [103]:
# Importando as bibliotecas necessárias
from catboost import CatBoostClassifier, Pool
from sklearn.model_selection import StratifiedKFold
import pandas as pd
import numpy as np

# Definindo variáveis de entrada (X) e variável alvo (y)
X = df.drop(columns=['Depression'])  # Remova 'target' do conjunto de variáveis independentes
y = df['Depression']

# Listando os nomes ou índices das colunas categóricas
categorical_features = ['Gender', 'City','Working Professional or Student','Profession','Dietary Habits','Degree','Have you ever had suicidal thoughts ?','Family History of Mental Illness']  # Exemplo: ['coluna1', 'coluna2']

# Definindo o modelo CatBoost
model = CatBoostClassifier(
    iterations=1000,           # Número de iterações (ajuste conforme necessário)
    learning_rate=0.1,         # Taxa de aprendizado
    depth=6,                   # Profundidade da árvore
    loss_function='Logloss',   # Função de perda para classificação binária
    eval_metric='Accuracy',    # Métrica de avaliação
    verbose=0                  # Evitar saída detalhada
)

# Configurando a validação cruzada
kf = StratifiedKFold(n_splits=5, shuffle=True, random_state=42)
accuracies = []

for train_index, test_index in kf.split(X, y):
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = y.iloc[train_index], y.iloc[test_index]
    
    # Criando Pool para treinamento e teste
    train_pool = Pool(data=X_train, label=y_train, cat_features=categorical_features)
    test_pool = Pool(data=X_test, label=y_test, cat_features=categorical_features)
    
    # Treinando o modelo
    model.fit(train_pool)
    
    # Avaliando no conjunto de teste
    accuracy = model.score(test_pool)
    accuracies.append(accuracy)

# Exibindo a acurácia média e o desvio padrão
print(f"Mean Accuracy: {np.mean(accuracies):.4f}")
print(f"Std Deviation: {np.std(accuracies):.4f}")

Mean Accuracy: 0.9391
Std Deviation: 0.0019

In [104]:
from catboost import Pool

# Crie o Pool para o novo conjunto de dados
new_data_pool = Pool(data=ts, cat_features=categorical_features)

# Fazer previsões com o modelo treinado
predictions = model.predict(new_data_pool)
# Para obter a probabilidade de cada classe, use:
proba_predictions = model.predict_proba(new_data_pool)

# Exibindo as previsões e as probabilidades
print("Predições:", predictions)
print("Probabilidades das classes:", proba_predictions)

Predições: [0 0 0 ... 0 1 0]
Probabilidades das classes: [[9.99623024e-01 3.76976401e-04]
 [9.99936534e-01 6.34656346e-05]
 [9.80255643e-01 1.97443569e-02]
 ...
 [9.85535601e-01 1.44643988e-02]
 [1.40896088e-01 8.59103912e-01]
 [9.95350576e-01 4.64942440e-03]]

In [105]:
sample = pd.read_csv("sample_submission.csv")

In [106]:
sample.head()

       id  Depression
0  140700           0
1  140701           0
2  140702           0
3  140703           0
4  140704           0

In [107]:
sample['Depression'] = predictions

In [108]:
sample.head()

       id  Depression
0  140700           0
1  140701           0
2  140702           0
3  140703           1
4  140704           0

In [109]:
# Exemplo para salvar um DataFrame df como CSV
sample.to_csv('v1.csv', index=False, encoding='utf-8')

## Com esse submissao na competiçao do Kaggle consegui a 7° posição ficando com 0.94269 de acuracia